@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'SF Pro Display';
    src: url('../assets/fonts/SFProDisplay/THIN_ITALIC.OTF') format('opentype');
    font-style: italic;
    font-weight: 100;
  }
  @font-face {
    font-family: 'SF Pro Display';
    src: url('../assets/fonts/SFProDisplay/ULTRALIGHT_ITALIC.OTF') format('opentype');
    font-style: italic;
    font-weight: 200;
  }
  @font-face {
    font-family: 'SF Pro Display';
    src: url('../assets/fonts/SFProDisplay/LIGHT_ITALIC.OTF') format('opentype');
    font-style: italic;
    font-weight: 300;
  }
  @font-face {
    font-family: 'SF Pro Display';
    src: url('../assets/fonts/SFProDisplay/REGULAR.OTF') format('opentype');
    font-style: normal;
    font-weight: 400;
  }
  @font-face {
    font-family: 'SF Pro Display';
    src: url('../assets/fonts/SFProDisplay/MEDIUM.OTF') format('opentype');
    font-style: normal;
    font-weight: 500;
  }
  @font-face {
    font-family: 'SF Pro Display';
    src: url('../assets/fonts/SFProDisplay/SEMIBOLD_ITALIC.OTF') format('opentype');
    font-style: italic;
    font-weight: 600;
  }
  @font-face {
    font-family: 'SF Pro Display';
    src: url('../assets/fonts/SFProDisplay/BOLD.OTF') format('opentype');
    font-style: normal;
    font-weight: 700;
  }
  @font-face {
    font-family: 'SF Pro Display';
    src: url('../assets/fonts/SFProDisplay/BLACK_ITALIC.OTF') format('opentype');
    font-style: italic;
    font-weight: 900;
  }

  html, body {
    font-family: 'SF Pro Display', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    color: whitesmoke;
  }
}

h1, h2, h3, h4, h5, h6, a, p, textarea {
  margin: 0;
  padding: 0;
}
